<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/telefone_email.jpeg');">
        <div class="card-description">
          <h2>Meu número e e-mail</h2>
        </div>
          <a class="card-link" href="#" data-toggle="modal" data-target="#exampleModalCenter" ></a>
<!--------- Modal ------------------------------------------------------------------------->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5> Telefone:  <%= current_user.phone_number %></h5>
                <h5> E-mail: <%= current_user.email %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Editar</button>
                <button type="button" class="btn btn-dark">Sair</button>
              </div>
            </div>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>
























<!-- codigo mais recente







    CARD 1 - MOBILE AND EMAIL
    <div class="col-xs-12 col-sm-3">
      <div class="card" data-toggle="modal" data-target="#exampleModalCenter" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/telefone_email.jpeg');">
            <div class="cardname">
            <h2>Meu telefone e E-mail</h2>
          </div>
          BEGIN MODAL :::: Button trigger modal
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
Launch demo modal
</button>

Modal
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5> Telefone:  <%= current_user.phone_number %></h5>
        <h5> E-mail: <%= current_user.email %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Editar</button>
        <button type="button" class="btn btn-dark">Sair</button>
      </div>
    </div>
  </div>
</div>
END MODAL --------------------------------------------------------------------


      </div>
    </div>







    CARD 2 - ADDRESS
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/endereço1.jpeg');">
          <div class="card-description">
            <h2>Meu endereço</h2>
            <p>Very cool city, the best</p>
          </div>
          <a class="card-link" href="#" ></a>
      </div>
    </div>


CARD 3- car
    <div class="col-xs-12 col-sm-3">
      insert <div class="card">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/placa1.jpeg');">
            <div class="card-description">
            <h2>Informações do meu carro</h2>
            <p>Very cool city, the best</p>
            </div>
          <a class="card-link" href="#" ></a>
        </div>
    </div>

CARD 2 - angels
    <div class="col-xs-12 col-sm-3">
      insert <div class="card">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/angels.jpeg');">
          <div class="card-description">
            <h2>Angels</h2>
            <p>Very cool city, the best</p>
          </div>
          <a class="card-link" href="#" ></a>
          </div>
    </div>
  </div>
</div>



 -->
















<!-- codigo stephanie -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
        <div class="card">
            <i class="fas fa-mobile-alt"></i>
            <h2>Telefone:</h2> <p><%= current_user.phone_number %></p>
            <p>Editar</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="card">
            <i class="far fa-address-card"></i>
            <h2>Endereço:</h2>
            <p> <%= current_user.address %></p>
            <p>Editar</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="card">
            <i class="fas fa-car"></i>
            <h2>Modelo e Placa do carro:</h2>
            <p><%= current_user.car_model %>
            <%= current_user.car_plate %></p>
            <p>Editar</p>
        </div>
    </div>
      <div class="col-xs-12 col-sm-3">
        <div class="card">
            <i class="fas fa-plus-circle"></i>
            <p> Adicionar novo Anjo
            <% current_user.angels.each do |anjo| %>
            <%= anjo.first_name %> <%= anjo.last_name %> <%= anjo.phone_number %></p>
            <% end %>
       </div>
    </div>

       </div>
      </div>
 -->


<!--
CODIGO DO VITOR

<div class= "profile-box">
  <div class="central-box">
    <img class="img-circle" src="https://kitt.lewagon.com/placeholder/users/victor-slduarte" class="avatar" id="navbar-wagon-menu">
    <h2><%= current_user.first_name %>  <%= current_user.last_name %></h2>
  </div>
</div>


current user informations
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <h3>Modelo do carro: <%= current_user.car_model %></h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <h3>Placa do carro: <%= current_user.car_plate %></h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <h3> Endereço: <%= current_user.address %></h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <h3> Telefone: <%= current_user.phone_number %></h3>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
      <h2>Anjos</h2>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-3 new-angel-card">
     <i class="fas fa-plus-circle"></i>
     <p>Novo Anjo</p>
    </div>
      <% current_user.angels.each do |anjo| %>
        <div class="col-xs-12 col-sm-3 angel-card">
         <p><%= anjo.first_name %> <%= anjo.last_name %></p> <p><%= anjo.phone_number %></p>
       </div>
    </div>
  <% end %>
</div>
 -->
