<div class="container">
  <div class="row">

<!--------- Card1 telefone e email ---------------------------------------------------------------->
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/telefone_email.jpeg');">
        <div class="card-description">
          <h2>Meu telefone e e-mail</h2>
        </div>
          <a class="card-link" href="#" data-toggle="modal" data-target="#exampleModalCenter" ></a>
<!--------- Modal ------------------------------------------------------------------------->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5> Telefone:  <%= current_user.phone_number %></h5>
                <h5> E-mail: <%= current_user.email %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-footer">

                <%= link_to 'Editar', edit_user_registration_path(simple: 'true'), class: 'btn btn-dark' %>
                <button type="button" class="btn btn-dark">Sair</button>
              </div>
            </div>
          </div>
        </div>
       </div>
    </div>
<!--------- Card1 ------------------------------------------------------------------------->

<!--------- Card2 Endereço-------------------------------------------------------------->
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/endereço1.jpeg');">
        <div class="card-description">
          <h2>Meu endereço</h2>
        </div>
          <a class="card-link" href="#" data-toggle="modal" data-target="#exampleModalCenter" ></a>
<!--------- Modal ------------------------------------------------------------------------->
        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5> Endereço:  <%= current_user.address %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-footer">

                <%= link_to 'Editar', edit_user_registration_path(simple: 'true'), class: 'btn btn-dark' %>
                <button type="button" class="btn btn-dark">Sair</button>
              </div>
            </div>
          </div>
        </div>
       </div>
    </div>
<!--------- Card2 ------------------------------------------------------------------------->

<!--------- Card3  Placa e Modelos --------------------------------------------------------->
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/placa1.jpeg');">
        <div class="card-description">
          <h2>Modelo e Placa</h2>
        </div>
          <a class="card-link" href="#" data-toggle="modal" data-target="#exampleModalCenter" ></a>
<!--------- Modal ------------------------------------------------------------------------->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5> Modelo:  <%= current_user.car_model %></h5>
                <h5> Placa:  <%= current_user.car_plate %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-footer">

                <%= link_to 'Editar', edit_user_registration_path(simple: 'true'), class: 'btn btn-dark' %>
                <button type="button" class="btn btn-dark">Sair</button>
              </div>
            </div>
          </div>
        </div>
       </div>
    </div>

<!--------- Card4 ANngels ----------------------------------------------------->
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/angels.jpeg');">
        <div class="card-description">
          <h2>Angels cadastrados</h2>
        </div>
          <a class="card-link" href="#" data-toggle="modal" data-target="#exampleModalCenter" ></a>
<!--------- Modal ------------------------------------------------------------------------->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5> Modelo:  <%= current_user.car_model %></h5>
                <h5> Placa:  <%= current_user.car_plate %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-footer">

                <%= link_to 'Editar', edit_user_registration_path(simple: 'true'), class: 'btn btn-dark' %>
                <button type="button" class="btn btn-dark">Sair</button>
              </div>
            </div>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>


<!--
CODIGO DO VITOR

<div class= "profile-box">
  <div class="central-box">
    <img class="img-circle" src="https://kitt.lewagon.com/placeholder/users/victor-slduarte" class="avatar" id="navbar-wagon-menu">
    <h2><%= current_user.first_name %>  <%= current_user.last_name %></h2>
  </div>
</div>


current user informations
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <h3>Modelo do carro: <%= current_user.car_model %></h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <h3>Placa do carro: <%= current_user.car_plate %></h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <h3> Endereço: <%= current_user.address %></h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <h3> Telefone: <%= current_user.phone_number %></h3>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
      <h2>Anjos</h2>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-3 new-angel-card">
     <i class="fas fa-plus-circle"></i>
     <p>Novo Anjo</p>
    </div>
      <% current_user.angels.each do |anjo| %>
        <div class="col-xs-12 col-sm-3 angel-card">
         <p><%= anjo.first_name %> <%= anjo.last_name %></p> <p><%= anjo.phone_number %></p>
       </div>
    </div>
  <% end %>
</div>
 -->
