<meta name="format-detection" content="telephone=no">
<div class="bodymap">
<div class="container">
  <div class="box">
    <div class="row">
      <div class="header">
      <% img = image_path("direcao_diurna.jpg") %>
        <div class="bio-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url('<%= img %>');background-size: cover;background-position: center center;">
        <%= image_tag 'Diego.jpg', class: 'avatar-large' %>
          <h3> <%= @user.first_name %> <%= @user.last_name %></h3>
          <p>Motorista</p>
        </div>
      </div>
    </div>

    <div class="flexbox">
      <div class="flex-item">
        <div class="carinfo">
          <p><strong>Placa</strong></p>
          <p><%= @user.car_plate %></p>
        </div>
      </div>

      <div class="flex-item">
        <div class="carinfo">
          <p><strong>Modelo</strong></p>
          <p><%= @user.car_model %></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="current-address">


            <span class="blink"> <p><i class="fas fa-exclamation-triangle"></i></p> Atenção: <%= @user.first_name %> pode estar em perigo!</span>
            <div class="lastadress">

           <i class="fas fa-map-marker-alt"> Localização </i>

            <p id="location"></p>
            </div>

            <a href="tel:+55-11-951701220">
              <button type="button" class="btn btn-danger">
                Ligar para Polícia
            </button>
            </a>
          </div>

<a href="tel:"></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="mapview">
        <%= render 'shared/map' %>
      </div>
    </div>

  </div>
</div>
</div>
