
<%= if button_active %>
  <h1><%= @user.first_name %> <%= @user.last_name %>%></h1>


  <div class="avatar">
    imagem de avatar aqui
  </div>


  <div>
    <%= @user.car_model %> <%= @user.car_plate %>
  </div>


  <div>
    mapa
  </div>

  <div> rua que ele esta</div>





  <%= else %>


  <div></div>


<%= end %>






