<div class="padding-body container">
  <div class="row">

<!--------- Card1 telefone e email ---------------------------------------------------------------->
    <% img_telefone_email = image_path('telefone_email.jpg')%>
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= img_telefone_email %>);">
        <div class="card-description">
          <h2>Informações Gerais</h2>

        </div>
          <a class="card-link" href="#" data-toggle="modal" data-target="#exampleModalCenter" ></a>
<!--------- Modal ------------------------------------------------------------------------->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5> E-mail: <%= current_user.email %></h5>
                <h5> Nome: <%= current_user.first_name %></h5>
                <h5> Sobrenome: <%= current_user.last_name %></h5>
                <h5> Telefone:  <%= current_user.phone_number %></h5>

              </div>
              <div class="modal-footer">

                <%= link_to 'Editar', edit_user_registration_path(info_geral: 'true'), class: 'btn btn-dark' %>
              </div>
            </div>
          </div>
        </div>
       </div>
    </div>
<!--------- Card1 ------------------------------------------------------------------------->

<!--------- Card2 Endereço-------------------------------------------------------------->
    <% img_endereco1 = image_path('endereço1.jpg') %>
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= img_endereco1 %>');">
        <div class="card-description">
          <h2>Endereço</h2>
        </div>
          <a class="card-link" href="#" data-toggle="modal" data-target="#exampleModalCenter2" ></a>
<!--------- Modal ------------------------------------------------------------------------->
        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5> Endereço:  <%= current_user.address %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-footer">

                <%= link_to 'Editar', edit_user_registration_path(address: 'true'), class: 'btn btn-dark' %>
              </div>
            </div>
          </div>
        </div>
       </div>
    </div>
<!--------- Card2 ------------------------------------------------------------------------->

<!--------- Card3  Placa e Modelos --------------------------------------------------------->
    <% img_placa1 = image_path('placa1.jpg') %>
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= img_placa1 %>');">

        <div class="card-description">
          <h2>Modelo e Placa</h2>
        </div>
          <a class="card-link" href="#" data-toggle="modal" data-target="#exampleModalCenter3" ></a>
<!--------- Modal ------------------------------------------------------------------------->
        <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5> Modelo:  <%= current_user.car_model %></h5>
                <h5> Placa:  <%= current_user.car_plate %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-footer">

                <%= link_to 'Editar', edit_user_registration_path(car_info: 'true'), class: 'btn btn-dark' %>
              </div>
            </div>
          </div>
        </div>
       </div>
    </div>

<!--------- Card4 ANngels ----------------------------------------------------->
    <% img_angels = image_path('angels.jpg') %>
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= img_angels %>');">
        <div class="card-description">
          <h2>Angels cadastrados</h2>
        </div>
          <a class="card-link" href="#" data-toggle="modal" data-target="#exampleModalCenter4" ></a>
<!--------- Modal ------------------------------------------------------------------------->
        <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5> Lista de Angels:  </h5>
              </div>
                <% Angel.all.each_with_index do |angel, i| %>
                  <% break if i > 2 %>
                  <h5> <strong> Angel: </strong>  <%= angel.first_name %> </h5>
                   <h5> <strong> Telefone: </strong>  <%= angel.phone_number %> </h5>

                <% end %>
              <div class="modal-footer">
                <%= link_to 'Adicionar', new_user_angel_path(@user), class: 'btn btn-dark' %>
                <%= link_to 'Editar', edit_user_angel_path(@user), class: 'btn btn-dark' %>
              </div>
            </div>
          </div>
         </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/navbar' %>
