<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= yield %>
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
    ></div>
<!-- js pra renderizar o mapa -->

<script>
  var map;
  var marker;
  function initMap() {
    navigator.geolocation.getCurrentPosition(function(position){
      geolocation = { lat: position.coords.latitude, lng: position.coords.longitude };
      map = new google.maps.Map(document.getElementById('map'), {
        center: geolocation,
        zoom: 15
      });
      marker = new google.maps.Marker({position: geolocation, map: map});
      var latlng = new google.maps.LatLng(geolocation.lat, geolocation.lng);
      var geocoder = new google.maps.Geocoder();
      geocoder.geocode({ 'latLng': latlng }, function (results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
              if (results[1]) {
                  document.getElementById("location").innerHTML=results[1].formatted_address;
              }
          }
      });
    });
  }

  function refreshLocation() {
    marker.setMap(null);
    navigator.geolocation.getCurrentPosition(function(position){
      geolocation = { lat: position.coords.latitude, lng: position.coords.longitude };
      marker = new google.maps.Marker({position: geolocation, map: map});
      marker.setMap(map);
      var latlng = new google.maps.LatLng(geolocation.lat, geolocation.lng);
      var geocoder = new google.maps.Geocoder();
      geocoder.geocode({ 'latLng': latlng }, function (results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
              if (results[1]) {
                  // alert("Location: " + results[1].formatted_address);
              }
          }
      });
    })
  }

  setInterval(refreshLocation, 5000);




</script>

<!-- js pra dar acesso a api key -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSfApo0r2kyexAI2PF2VyTKvoP_EsqAE8&callback=initMap"
    async defer></script>



    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
